<div fxLayout="row wrap" fxFlex="100" class="m-1">
  <mat-sidenav-container class="layout-container" fxLayout="row" fxFlexFill>
    <!-- Sidebar -->
    <mat-sidenav mode="side" opened class="sidebar" fxFlex="none">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
  
    <!-- Main Content Area -->
    <mat-sidenav-content fxLayout="column" fxFlex>
      <!-- Navbar -->
      <app-navbar fxFlex="none"></app-navbar>
  
      <!-- Content Area -->
      <div class="content" fxFlex fxLayout="column" fxLayoutGap="16px" style="padding: 16px;">
        <!-- Placeholder for future content -->
        <!-- <router-outlet></router-outlet> -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
