<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title class="title row-wrap">
      <div class="title-container">
        <!-- Title -->
        <span class="title">{{ title }}</span>

        <div class="actions">
          <!-- Search Icon -->
          <button mat-icon-button (click)="toggleSearch()" *ngIf="!isSearchActive">
            <mat-icon>search</mat-icon>
          </button>

          <!-- Search Input -->
          <mat-form-field
            appearance="outline"
            class="search-bar"
            *ngIf="isSearchActive"
          >
            <mat-label>Search</mat-label>
            <input
              matInput
              (input)="onSearch($event)"
              placeholder="Search..."
              autofocus
            />
            <mat-icon matSuffix (click)="closeSearch()">close</mat-icon>
          </mat-form-field>

          <!-- Add New Button -->
          <button mat-raised-button color="primary" class="add-button" (click)="onAction('add', null)">
            Add New
          </button>
        </div>
      </div>
    </mat-card-title>
    <hr>
    <div class="table-responsive">
      <table mat-table [dataSource]="filteredDataSource" class="w-100">
        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngClass]="column.headerClass"
          >
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="column.cellClass">
            <ng-container *ngIf="column.cellTemplate; else defaultCell">
              <ng-container
                *ngTemplateOutlet="column.cellTemplate; context: { $implicit: element }"
              ></ng-container>
            </ng-container>
            <ng-template #defaultCell>{{ element[column.key] }}</ng-template>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Action menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ng-container *ngFor="let action of actions">
                <button mat-menu-item (click)="onAction(action.key, element)">
                  <mat-icon>{{ action.icon }}</mat-icon>
                  <span>{{ action.label }}</span>
                </button>
              </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="getColumnKeys()"></tr>
        <tr mat-row *matRowDef="let row; columns: getColumnKeys()"></tr>
      </table>
    </div>
        <!-- Pagination Panel -->
        <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
  </mat-card-content>
</mat-card>
